<!-- Button trigger modal -->
<button class="btn btn-default" (click)="openModal()">
  <i class="bi bi-pencil-square" style="color: blue"></i>
</button>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modification d'un auteur</h4>

        <button
          type="button"
          class="btn btn-default"
          aria-
          label="Close"
          (click)="closeModal()"
        >
          <span aria- hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <template *ngTemplateOutlet="formProduct"></template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Form -->
<ng-template #formProduct>
  <form (ngSubmit)="updateauteur()">
    <div class="mb-3">
      <input
        required
        minlength="4"
        #designation="ngModel"
        type="text"
        class="form-control"
        id="designation"
        name="Nom"
        placeholder="Nom *"
        [(ngModel)]="auteurs.nomauteur"
      />
      <br />
      <input
        required
        minlength="4"
        #designation="ngModel"
        type="text"
        class="form-control"
        id="designation"
        name="Email"
        placeholder="Mettre à jour l'email"
        [(ngModel)]="auteurs.email"
      /><br />
      <input
        required
        minlength="4"
        #designation="ngModel"
        type="text"
        class="form-control"
        id="designation"
        name="numero"
        placeholder="Mettre à jour le numero"
        [(ngModel)]="auteurs.numtel"
      />
    </div>

    <div>
      <button type="submit" class="btn btn-success" (clic)="updateauteur()">
        Enregistrer
      </button>
    </div>
  </form>
</ng-template>
